version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NPM_REGISTRY=https://registry.npmmirror.com
    container_name: wisdomChurch-frontend
    environment:
      - NODE_ENV=production
      - PORT=3000
      # change to your real API domain:
      - NEXT_PUBLIC_API_BASE_URL=https://api.yourdomain.com
    expose:
      - "3000"
    restart: unless-stopped
