version: '3.8'

services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: wisdomhouse-dev
    ports:
      - '2000:2000'
    environment:
      - NODE_ENV=development
      - DOCKER_ENV=true  
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
      - NEXT_WEBPACK_USEPOLLING=1
      - NEXT_TELEMETRY_DISABLED=1
      - CHOKIDAR_INTERVAL=1000
      - WATCHPACK_POLLING=1000
      - HOST=0.0.0.0
      - PORT=2000
    volumes:
      - .:/app:delegated,cached
      - /app/node_modules
      - /app/.next
      - next-cache:/app/.next/cache
    command: npm run dev
    stdin_open: true
    tty: true
    restart: unless-stopped

volumes:
  next-cache: